@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "deckRegular";
  src: url("../src/assets/fonts/66fa6cd92a834cd16ff8fa9a_Canela\ Deck-Regular\ Italic-Web.woff2")
    format("woff2");
}
@font-face {
  font-family: "helveticRoman";
  src: url("../src/assets/fonts/66fa7ca93e7e32ac733c9b9b_HelveticaNeueLTPro-Roman.woff2")
    format("woff2");
}
@font-face {
  font-family: "helveticNeue";
  src: url("../src/assets/fonts/66fa7d41fd37f53b0d08b96a_HelveticaNeueLTPro-Md.woff2")
    format("woff2");
}

